@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
//@import "./style/normalize.scss";

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

// 先設定此項，其他才會生效，尚不知原因。
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #999;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}

a {
    text-decoration: none;
}



