@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
@import "./style/normalize.scss";

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

html {
    scroll-behavior: smooth;
}

// 先設定此項，其他才會生效，尚不知原因。
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}



img {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.to-top {
    position: fixed;
    bottom: 3rem;
    right: 5rem;
    font-size: 3rem;
    font-weight: 700;
    transition: all .2s ease-in;
    cursor: n-resize;
    &:hover  {
        color: #aaa;
    }
    &:hover::before {
        background-color: #aaa;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #000;
    }
}



