@import '../../style/style.scss';

nav {
    .nav-items {
        display: flex;
        justify-content: center;
        .nav-item {
            padding: 2rem;
            & > a {
                @extend .h4;
                color: #222;
                font-weight: 500;
            }
        }
    }
}